body {
  margin: 0;
  padding: 0;
  background-color: #ededed;
  font-family: "Josefin Sans", sans-serif;
}
.f300 {
  font-weight: 300;
}
.header-avatar {
  position: relative;
}

.language {
  color: #000;
  font-size: 10px;
  z-index: 2;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgba(250, 250, 250, 0.61);
  padding: 0px 10px;
  border-radius: 5px;
}

.language:hover {
  background-color: rgba(250, 250, 250, 0.41);
}
header {
  width: 100vw;
  height: 240px;
  background-color: #000000;
  overflow: hidden;
  text-align: center;
}

.header-text {
  position: absolute;
  top: 0vh;
  bottom: 0vh;
  left: 0vh;
  right: 0vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text h1 {
  margin: 0;
  font-size: 10vw;
  color: #ffffff;
}
.header-text p {
  margin: 0;
  color: #ffffff;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.hero-header-text {
  z-index: 2;
  color: #000;
}
.avatar {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  bottom: -50px;
  left: 8vw;
  object-fit: cover;
  border: 2px solid #ffffff;
}

.info-card-container {
  padding: 10vw;
  margin-top: 50px;
}

.info-card {
  background: #ffffff;
  padding: 12px;
  margin-bottom: 32px;
  -webkit-box-shadow: 0px 32px 59px -21px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 32px 59px -21px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 32px 59px -21px rgba(0, 0, 0, 0.21);
}

.info-card img {
  width: 100%;
}

.info-card p {
  font-weight: 300;
}

.fa {
  margin-right: 20px;
}

.fa:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: blue;
}

.info-card-text span a {
  font-size: 30px;
}
.category-1 {
  text-align: center;
  background-color: #d3d3d3;
  padding: 25px 10vw;
}

.img-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 20px;
}

.img-container img {
  width: 100%;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  align-self: center;
}
.category-2 {
  text-align: center;
  padding: 25px 10vw;
  background: #ededed;
}

.footer {
  padding: 12px;
  text-align: center;
  background-color: #000;
  color: #ffffff;
}
.footer .fa {
  color: #ffffff;
  margin-right: 10px;
  font-size: 30px;
}

.contact-insta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-insta :hover {
  opacity: 0.7;
}

.contact-whatsapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-whatsapp :hover {
  opacity: 0.7;
}

.contact-email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-email :hover {
  opacity: 0.7;
}

.contact-email .fa {
  font-size: 25px;
}
.contact-address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-address :hover {
  opacity: 0.7;
}

.footer a {
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  /* For tablets: */

  header {
    height: 33vw;
  }
  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    bottom: -60px;
  }

  .language {
    top: 25px;
    right: 25px;
    font-size: 15px;
    padding: 0px 25px;
    border-radius: 5px;
  }
  .info-card-container {
    padding: 9vw;
    padding-bottom: 75px;
    padding-top: 75px;
  }
  .header-text h1 {
    font-size: 6vw;
  }
  .header-text p {
    font-size: 2vw;
  }

  .info-card {
    display: flex;
  }

  .left {
    flex-direction: row;
  }
  .right {
    flex-direction: row-reverse;
  }

  .info-card img {
    width: 30%;
  }

  .info-card-text {
    padding: 32px;
  }

  .info-card-text span {
    display: flex;
    flex-direction: row;
  }
  .img-container {
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
  }

  .footer-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .map {
    text-align: start;
    width: 100%;
    padding: 10px;
  }
  .map iframe {
    height: 300px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 120px;
    bottom: -100px;
  }

  .info-card img {
    width: 15%;
  }

  .info-card-text {
    padding: 32px;
  }

  .img-container {
    grid-template-columns: 22% 22% 22% 22%;
  }
}
